<%- include('../includes/header.ejs') %> <%-
include('../includes/index/summary/summary.ejs') %>

<div
  class="grid grid-cols-1 sm:grid-cols-3 border m-4 shadow-md gap-4 p-2 rounded"
>
  <%- include('../includes/index/section/biscuit.ejs') %> <%-
  include('../includes/index/section/wafer.ejs') %> <%-
  include('../includes/index/section/cake.ejs') %> <%-
  include('../includes/index/section/bakery.ejs') %> <%-
  include('../includes/index/section/snacks.ejs') %> <%-
  include('../includes/index/section/water.ejs') %>
</div>

<%- include('../includes/footer.ejs')%>
